.commit-inspector {
	background-color: var(--vscode-sideBar-background);
	border-bottom: 2px solid var(--vscode-input-border, var(--vscode-sideBarSectionHeader-border));
	height: 200px;
	display: flex;

	& .graph-col.info {
		display: block !important;
		overflow: auto !important;
	}

	& .files {
		& .added {
			color: var(--vscode-gitDecoration-addedResourceForeground);
		}

		& .modified,
		& .type-modified {
			color: var(--vscode-gitDecoration-modifiedResourceForeground);
		}

		& .deleted {
			color: var(--vscode-gitDecoration-deletedResourceForeground);
		}

		& .renamed,
		& .copied {
			color: var(--vscode-gitDecoration-renamedResourceForeground);
		}

		& .updated {
			color: var(--vscode-gitDecoration-updatedResourceForeground);
		}

		& .ignored {
			color: var(--vscode-gitDecoration-ignoredResourceForeground);
		}

		& .untracked {
			color: var(--vscode-gitDecoration-untrackedResourceForeground);
		}
	}
}
