@layer components {
	#graph {
		border-collapse: collapse;
		table-layout: fixed;

		& .graph-header {
			border-bottom: 1px solid var(--vscode-sideBarSectionHeader-border);
			width: 100%;

			& > * {
				line-height: 26px;
			}

			& .resize-handle {
				position: relative;
				width: 0;

				&::after {
					content: "";
					position: absolute;
					position: relative;
					outline: none;
					display: block;
					width: 1rem;
					height: 100%;
					border-left: 1px solid var(--vscode-sideBarSectionHeader-border);
				}
			}
		}

		& .graph-list {
			overflow: scroll;
		}

		& .graph-row {
			display: flex;
			cursor: pointer;
			height: 26px;
			align-items: center;
			overflow: hidden;

			&:hover {
				background-color: var(--vscode-list-hoverBackground);
			}

			&.focused {
				background-color: var(--vscode-quickInputList-focusBackground);
			}

			&.merge {
				color: var(--vscode-disabledForeground);
			}

			&.head {
				font-weight: 700;
			}

			& .graph-col {
				height: 26px;
			}
		}

		& .graph-col {
			@apply px-2 overflow-hidden whitespace-nowrap;

			display: flex;
			align-items: center;

			&.graph {
				flex: var(--table-graph-width) 1 0px;
			}

			&.info {
				flex: var(--table-info-width) 1 0px;
				border-left: 1px solid var(--vscode-sideBarSectionHeader-border);
			}
			&.author {
				flex: var(--table-author-width) 1 0px;
			}
			&.date {
				flex: var(--table-date-width) 1 0px;
				font-family: var(--vscode-editor-font-family);
				font-size: 90%;
			}
			&.hash {
				flex: var(--table-hash-width) 1 0px;
				font-family: var(--vscode-editor-font-family);
				font-size: 90%;
			}

			&.index {
				flex: var(--table-index-width) 1 0px;
			}
		}

		& svg {
			overflow: hidden;
			margin: 0;
			padding: 0;
			fill: transparent;
			position: relative;

			& rect {
				fill: var(--rail-color, white);
				stroke: var(--rail-color, white);
				stroke-width: 3.5;
				stroke-linejoin: round;
			}

			& line,
			& path {
				stroke: var(--rail-color, white);
				stroke-width: 2px;
				filter: drop-shadow(2px 2px 2px rgb(0 0 0 / 0.4));
			}
		}
	}

	.col-truncate {
		text-overflow: "… ";
	}
}
