@layer components {
  #graph {
		border-collapse: collapse;
		table-layout: fixed;

		& thead {
			position: sticky;
			top: 0;
			background: var(--bg-primary);
			z-index: 90;

			& th {
				@apply py-2;
				width: 100px;
			}

			& th:first-child {
				width: 200px;
			}

			& th:nth-child(2) {
				width: 100%;
			}

			& .handle {
				@apply flex cursor-col-resize -mr-1 relative;

				&::after {
					@apply mx-1;
					content: "";
					border-left: 1px solid var(--vscode-sideBarSectionHeader-border);
				}
			}
		}

		& .graph-row {
			cursor: pointer;

			&:hover {
				background-color: var(--vscode-list-hoverBackground);
			}

			&.focused {
				background-color: var(--vscode-quickInputList-focusBackground);
			}
			
			&.merge {
				color: var(--vscode-disabledForeground);
			}

			&.head {
				font-weight: 700;
	
				& .graph-tag {
					&, & .end-decorator {
						border-color: var(--rail-color, white);
						border-width: 1.5px;
					}
				}
			}
		}
		& td {
			@apply pl-2 pr-1;

			border: none;
			line-height: 0;

			&:first-child {
				margin: 0;
				padding: 0;
				overflow: hidden;
			}

			&:nth-child(2) {
				border-left: 1px solid var(--vscode-sideBarSectionHeader-border);

				max-width: 0;
				overflow: hidden;
			}

			&:last-child, &:nth-last-child(2) {
				font-family: var(--vscode-editor-font-family);
				font-size: var(--vscode-editor-font-size);
			}
		}

		& svg {
			overflow: hidden;
			margin: 0;
			padding: 0;
			fill: transparent;
			position: relative;

			& rect {
				fill: var(--rail-color, white);
				stroke: var(--rail-color, white);
				stroke-width: 3.5;
				stroke-linejoin: round;
			}

			& line,
			& path {
				stroke: var(--rail-color, white);
				stroke-width: 2px;
				filter: drop-shadow(2px 2px 2px rgb(0 0 0 / 0.4));
			}
		}
	}

	.graph-tag {
		@apply rounded-sm flex items-center flex-shrink-0 overflow-hidden;
		color: var(--text-primary);
		background: var(--vscode-input-background);
		border: 1px solid var(--vscode-input-border);
		height: 18px;
		font-size: 0.9rem;

		&::before {
			@apply  flex items-center justify-center codicon;
			width: 18px;
			height: 18px;
			background: var(--rail-color, white);
			color: var(--vscode-editor-background);
			line-height: 1.5;
			font-weight: 700;
			flex-shrink: 0;
		}

		&.tag::before {
			content: "\ea66";
		}

		&.branch::before {
			content: "\ea68";
		}

		&.head::before {
			content: "\ea68";
		}

		&.stash::before {
			content: "\eb09";
			line-height: 1.65;
		}

		& .content {
			@apply px-1 h-full flex items-center whitespace-nowrap;
		}

		& .end-decorator {
			@apply px-1 h-full flex items-center italic;
			border-left: 1px solid var(--vscode-input-border);
		}
	}
}
