@import "./graph.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "codicon";
	font-display: block;
	src: url("./codicon.ttf") format("truetype");
}

@layer base {
	*,
	body {
		margin: 0;
		padding: 0;
	}

	body {
		overflow-y: scroll;
	}

	html {
		--text-primary: var(--vscode-editor-foreground);
		--bg-primary: var(--vscode-editor-background);
		--bg-p-light: var(--vscode-notebook-cellBorderColor);

		font-size: var(--vscode-font-size);
	}
}

@layer utilities {
	.white {
		--rail-color: white;
	}

	.indigo {
		--rail-color: #4338ca;
	}

	.pink {
		--rail-color: #be185d;
	}

	.emerald {
		--rail-color: #065f46;
	}

	.sky {
		--rail-color: #0369a1;
	}

	.amber {
		--rail-color: #b45309;
	}

	.red {
		--rail-color: #b91c1c;
	}

	.yellow {
		--rail-color: #fde68a;
	}

	.codicon {
		font-family: codicon;
		display: inline-block;
		text-decoration: none;
		text-rendering: auto;
		text-align: center;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-moz-user-select: none;
		user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
}
