@import "@vscode/codicons/dist/codicon.css";
@import "./graph.css";
@import "./commit-inspector.css";
@import "./topbar.css";
@import "./ui.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "codicon";
	font-display: block;
	src: url("./codicon.ttf") format("truetype");
}

@layer base {
	*,
	body {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	html {
		--text-primary: var(--vscode-editor-foreground);
		--bg-primary: var(--vscode-editor-background);
		--bg-p-light: var(--vscode-notebook-cellBorderColor);

		font-size: var(--vscode-font-size);
	}
}

@layer utilities {
	.white {
		--rail-color: white;
	}

	.indigo {
		--rail-color: oklch(51.1% 0.262 276.966); /* indigo 600 */
	}

	.pink {
		--rail-color: oklch(59.2% 0.249 0.584); /* pink 600 */
	}

	.emerald {
		--rail-color: oklch(59.6% 0.145 163.225); /* emerald 600 */
	}

	.sky {
		--rail-color: oklch(58.8% 0.158 241.966); /* sky 600 */
	}

	.amber {
		--rail-color: oklch(66.6% 0.179 58.318); /* amber 600 */
	}

	.red {
		--rail-color: oklch(57.7% 0.245 27.325); /* red 600 */
	}

	.yellow {
		--rail-color: oklch(68.1% 0.162 75.834); /* yellow 600 */
	}

	.codicon {
		font-family: codicon;
		display: inline-block;
		text-decoration: none;
		text-rendering: auto;
		text-align: center;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-moz-user-select: none;
		user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}

	.graph-grid {
		display: grid;
		grid-template-columns:
			var(--graph-rails-width, 150px) auto var(--graph-author-width, 120px)
			var(--graph-date-width, 100px) var(--graph-hash-width, 100px);
		gap: 16px;
	}
}
