.icon-button {
	background: transparent;
	border: none;
	color: var(--vscode-icon-foreground);
	display: block;
	font-size: 16px;
	padding: 3px;
	display: flex;
	cursor: pointer;
	border-radius: 5px;
}

.icon-button:hover {
	background-color: var(--vscode-toolbar-hoverBackground);
	outline: 1px dashed var(--vscode-toolbar-hoverOutline);
	outline-offset: -1px;
}

.slider {
	background-color: var(--vscode-scrollbarSlider-background);
	width: 10px;
}

.checkbox {
	@apply relative;

	& .input {
		@apply absolute inset-0;
		width: 15px;
		height: 15px;
		opacity: 0;
	}

	& .icon {
		width: 15px;
		height: 15px;
		font-size: 13px;
		color: var(--vscode-checkbox-foreground);
		background-color: var(--vscode-checkbox-background);
		border: 1px solid var(--vscode-checkbox-border);
		border-radius: 3px;

		& .codicon {
			display: none;
			font-size: 13px;
		}
	}

	& .input:checked + .icon .codicon {
		display: block;
	}
}
